h1{
    padding-top: 5px;
    font-size: 55px;
    padding: 0px;
    margin:0px;
    margin-left: 100px;
    height:55px;
    width: 350px;
    float: none;
    color: white;
}.slogan{
    color: white;
    float: right;
    margin-right: 10px;
    font-size:20px;
}.banner{
    margin: 0 auto;
    width: 800px;
    height: 100px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    padding-left:100px;
    background: #547191 url(car.png) no-repeat left; 
    font-family: "Palatino Linotype";
}

div.info h2{
    margin: 0 auto;
    text-align: center;
    padding-top: 5px;
}
div.info p{
    margin: 0 auto;
    width: 700px;
    height: 75px;
    text-justify: left;
}



